@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center">

    <p class="btn btn-primary  "style="width:100">Home Page</p><br />
    <a class="btn btn-primary  " asp-action="CreatInvoice" style="margin-top:15px">
        <i class="bi bi-file-plus-fill">Invoice Details</i>
    </a><br />
    <a class="btn btn-primary  " asp-action="Invoice List" style="margin-top:15px">
        <i class="bi bi-file-plus-fill">Invoice List</i>
    </a>
</div>
